*{
    margin: 0;
    padding: 0;
}

.content{
    text-align: center;
}

h1{
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: thistle;
}

h3{
    padding-bottom: 10px;
    color: thistle;
}

 content ul li{
    font-style: italic;
    margin-bottom: 20px;
}
p{
    font-family: "Spectral", serif;
    margin-bottom: 10px;
}

