*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #cac5c8;
}
.container{
    width: 80%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.contact, .content{
    width: 100%;
    padding: 25px;
}

.contact h1{
    font-size: 35px;
    margin-bottom: 30px;
    color: #a52062;
}

.content h1{
    font-size: 35px;
    margin-bottom: 15px;
    color: #a52062;
}
.content h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #a52062;
}
.content p{
    color: #222;
    font-size: 17px;
    line-height: 1.4;
}

label{
    color: #222;
    font-size: 17px;
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
}
button{
    font-size: 17px;
    background-color: #a52062;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}
button:hover{
    background-color: #7a2d58;
}